{% extends 'core/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h1>Available datasets</h1>
                <table class='w-100'>
                    <thead>
                    <tr>
                        <th>Dataset</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dataset in datasets %}
                        <tr>
                        <td class="d-flex align-items-center gap-2 px-2 me-2">
                            <i class="fa-solid fa-file text-secondary"></i><a href="{{ dataset['link'] }}">{{ dataset['name'] }}</a>
                        </td>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}