{% extends 'core/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h1>{{ strategy.name }}</h1>
                <div class="btn btn-success w-100">Run</div>
                <div class="mt-3">
                    <h3>Dataset</h3>
                    <select class="form-control">
                        {% for dataset in datasets %}
                            <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if strategy.parameters %}
                    <div class="mt-3">
                        <h3>Parameters</h3>
                        {% for p in strategy.parameters %}
                            <div class="d-flex w-100 justify-content-between mt-1">
                                <div class="w-50">{{ p.alias }}</div>
                                <div class="w-50">
                                    <input type="text" class="form-control" value="{{ p.value }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-9">
                <div class="d-flex align-items-center gap-3">
                    <h1>Chart</h1>
                    <div>
                        <details>
                            <summary>settings</summary>
                            {% for plot in strategy.plots %}
                                <div class="form-check">{{ plot.name }}</div>
                            {% endfor %}
                        </details>
                    </div>
                </div>
                <div id="chart"></div>
                <h1>Orders</h1>
                <details>
                    <summary><span class="font-bold">Total ({{ strategy.order_manager.orders | length }})</span>
                    </summary>
                    {% if strategy.orders %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Side</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in strategy.order_manager.orders %}
                                <tr>
                                    <td>
                                        <div class="border-5 ps-3 {{ 'border-start border-success' if order.side == 'buy' else 'border-start border-danger' }}">
                                            {{ order.id }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="{{ 'text-success' if order.side == 'buy' else 'text-danger' }}">{{ order.side | upper }}</div>
                                    </td>
                                    <td>{{ order.price }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.timestamp }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </details>
                <h1>Positions</h1>
                <details>
                    <summary><span class="font-bold">Total ({{ strategy.position_manager.positions | length }})</span>
                    </summary>
                    {% if strategy.position_manager.positions %}
                        <div class="row">
                            <div class="col-lg-1">Trade #</div>
                            <div class="col-lg-1">Side</div>
                            <div class="col-lg-1">Prices</div>
                            <div class="col-lg-1">Timestamp</div>
                        </div>
                        {% for position in strategy.position_manager.positions %}
                            <div class="row">
                                <div class="col-lg-1">{{ loop.index }}</div>
                                <div class="col-lg-1">{{ position.side }}</div>
                                <div class="col-lg-2">
                                    <div>{{ position.take_profit }} (take profit)</div>
                                    <div>{{ position.price }} (entry)</div>
                                    <div>{{ position.take_loss }} (take loss)</div>
                                </div>
                                <div class="col-lg-1">{{ position.get_timestamp() }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </details>
                {% if strategy.backtest.positions %}
                    <h1>Backtest Positions</h1>
                    <details>
                        <summary><span class="font-bold">Total ({{ strategy.backtest.positions | length }})</span>
                        </summary>
                        <div class="row font-bold">
                            <div class="col-lg-1">Trade #</div>
                            <div class="col-lg-1">Side</div>
                            <div class="col-lg-2">Prices</div>
                            <div class="col-lg-1">Entered (ts)</div>
                            <div class="col-lg-1">Exit (ts)</div>
                            <div class="col-lg-1">PNL</div>
                        </div>
                        {% for position in strategy.backtest.positions %}
                            <div class="row mb-2">
                                <div class="col-lg-1">{{ loop.index }}</div>
                                <div class="col-lg-1">{{ position.side }}</div>
                                <div class="col-lg-2">
                                    <div>{{ position.take_profit }} (take profit)</div>
                                    <div>{{ position.entry_price }} (entry)</div>
                                    <div>{{ position.take_loss }} (take loss)</div>
                                </div>
                                <div class="col-lg-1">{{ position.get_timestamp() }}</div>
                                <div class="col-lg-1">{{ position.get_filled_timestamp() }}</div>
                                <div class="col-lg-1">{{ position.pnl }}</div>
                            </div>
                        {% endfor %}
                    </details>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="/static/js/viewStrategy.js"></script>
    <script src="/static/js/createChart.js"></script>
    <script src="/static/js/createTraces.js"></script>
    <script>
        // create chart
        createChart('chart', "{{ strategy.data.name | string }}", {{ strategy.plots | tojson }}, {{ strategy.plot_config() | tojson }});
        // create plots section
    </script>
{% endblock %}